<nav>
  <a routerLink="/Button" routerLinkActive="active">Button</a> 
  <a routerLink="/Select" routerLinkActive="active">Select</a>
  <a routerLink="/Autocomplete-demo" routerLinkActive="active">autocomplete-demo</a>
  <a routerLink="/check-Box-Demo" routerLinkActive="active">check-box-demo</a>
  <a routerLink="/datepicker-demo" routerLinkActive="active">datepicker-demo</a>
  <a routerLink="/form-field-demo" routerLinkActive="active">form-field-demo</a>
  <a routerLink="/menu-demo" routerLinkActive="active">menu-demo</a>
</nav>
<router-outlet></router-outlet>